body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2vh auto auto auto;
  width: 45vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 2vh;
}

.calcTitle {
  display: flex;
  width: 43vh;
  justify-content: flex-end;
  font-style: italic;
}

.memoryBar {
  display: flex;
  width: 43vh;
  height: 3vh;
  justify-content: flex-end;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.resultsBar {
  display: flex;
  width: 43vh;
  height: 3vh;
  justify-content: flex-end;
  margin-bottom: .5vh;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.calcWrapper {
  display: grid;
  height: 67vh;
  grid-template-columns: repeat(4, 10vh);
  grid-template-rows: 10vh 5vh 5vh repeat(4, 10vh);
  grid-gap: 1vh;
  padding: 110px auto;
  margin-bottom: 1vh;
  border-radius: 5px;
}

.displayWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: span 4;
  border-radius: 3px;
  text-align: right
}

.displayWindow {
  display: inline-block;
  width: 100%;
  margin-right: 3px;
  font-size: 2.5rem;
}
