body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 2vh auto auto auto;
  width: 45vh;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 2vh;
}

.calcTitle {
  display: flex;
  width: 43vh;
  justify-content: flex-end;
  font-style: italic;
}

.memoryBar {
  display: flex;
  width: 43vh;
  height: 4vh;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom: 1px solid white;
}

.memoryBarLabel {
  display: flex;
  justify-content: flex-start;
  width: 3vh;
}

.resultsBar {
  display: flex;
  width: 43vh;
  height: 4vh;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2vh;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.scrollBar {
  display: grid;
  width: 38vh;
  height: 95%;
  align-items: center;
  grid-template-columns: 1vh 36vh 1vh;
  grid-gap: none;
}

.resultsBarLabel {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  width: 3vh;
}

.buttonWrapper {
  display: grid;
  height: 50vh;
  box-sizing: border-box;
  grid-template-columns: repeat(4, 10vh);
  grid-template-rows: repeat(9, 4.5vh);
  grid-gap: 1vh;
  padding: 110px auto;
  border-radius: 5px;
}

.buttonWrapper button {
  display: grid;
  cursor: pointer;
  vertical-align: center;
  align-content: center;
}

.buttonWrapper button:hover {
  box-shadow: 3px 3px 3px #888888;
}

.displayWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: right;
  width: 43vh;
  border-bottom: 1px solid white;
}

.displayFeaturesBar {
  display: flex;
  flex-direction: row-reverse;
  justify-items: flex-start;
  align-items: center;
  text-align: right;
  width: 43vh;
}

.displayFeaturesBar button {
  margin-left: 3px;
  background: #6d6866;
  color: yellow;
  border: none;
  cursor: pointer;
}

.displayFeaturesBar button:hover {
  cursor: pointer;
}

.displayWindow {
  display: inline-block;
  width: 100%;
  margin-right: 3px;
  font-size: 2.5rem;
}
