body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 55px auto auto auto;
  width: 275px;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border: 1px solid black;
  border-radius: 10px;
  padding-top: 25px;
}

.calcTitle {
  display: flex;
  width: 85%;
  justify-content: flex-end;
  font-style: italic;
}

.calcWrapper {
  display: grid;
  height: 355px;
  grid-template-columns: repeat(4, 55px);
  grid-template-rows: repeat(6, 55px);
  grid-gap: 5px;
  padding: 110px auto;
  margin-bottom: 20px;
  border-radius: 5px;
}

.displayWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column: span 4;
  border-radius: 3px;
  text-align: right
}

.displayWindow {
  display: inline-block;
  width: 100%;
  margin-right: 3px;
  font-size: 24px;
}
